.dialogs__item {
    padding: 5px 5px;
}

.dialogs__item_link {
    text-decoration: none;
    color: rgb(1, 48, 24);
}

.dialogs__item_active {
    color: rgb(2, 167, 84);
    background-color: rgba(1, 236, 119, 0.185);
    border-radius: 5px;
}