@import '../../components/default_variables.scss';

.chat {
    @extend .container;
}

.chat__messages {
    height: 80vh;
    overflow-y: auto;
}

.messages__item {
    padding: 10px 5px;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-areas:
        'ava name'
        'ava message';
    column-gap: 20px;
    align-items: center;
}

.message__ava {
    grid-area: ava;
}

.message__name {
    @extend .font-h2;
    margin: 0;
}

.message__body {
    @extend .font-text;
    grid-area: message;
}