.contact {
    display: none;
}

.contact_visible {
    display: flex;
}

.contact__item {
    margin: 3px 0;
    display: grid;
    grid-template-columns: 100px minmax(200px, 80%);
}

.contact__icon {
    width: 20px;
    height: 20px;
    margin: 2px 3px;
    padding: 7px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    transition: opacity ease .5s;

    &_type_youtube {
        background-image: url(../../../../images/youtube.png);
    }

    &_type_instagram {
        background-image: url(../../../../images/inst.png);
    }

    &_type_facebook {
        background-image: url(../../../../images/facebook.png);
    }

    &_type_website {
        background-image: url(../../../../images/website.png);
    }

    &_type_vk {
        background-image: url(../../../../images/vk.png);
    }

    &_type_twitter {
        background-image: url(../../../../images/twitter.png);
    }

    &_type_github {
        background-image: url(../../../../images/gitHub.png);
    }

    &_type_mainLink {
        background-image: url(../../../../images/mainlink.png);
    }

    &:hover {
        opacity: .7;
    }
}