.user__card {
    display: grid;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgba(97, 250, 166, 0.1);
    grid-template-areas:
        'foto name location'
        'btn status location';
    grid-template-columns: 2fr 5fr 2fr;
}

.user__foto {
    grid-area: foto;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 5px;
}

.user__name {
    grid-area: name;
    margin: 0;
    align-self: center;
    color: rgba(0, 54, 7, 0.7);
}

.user__status {
    grid-area: status;
}

.user__location {
    grid-area: location;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user__text {
    margin: 0;
    padding: 0;
    align-self: center;
    justify-content: center;
    color: rgba(0, 54, 7, 0.7);
}