@import '../../default_variables.scss';

.user__card {
    display: grid;
    padding: 10px 20px;
    margin: 10px;
    grid-template-areas:
        'foto name location'
        'btn status location';
    grid-template-columns: 2fr 5fr 2fr;
    border-bottom: 1px solid $color-border-container;

    &:last-of-type {
        border-bottom: 0;
    }
}

.user__foto {
    grid-area: foto;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 5px;
}

.user__name {
    @extend .font-h2;
    grid-area: name;
    margin: 0;
    align-self: center;
}

.user__status {
    @extend .font-text;
    grid-area: status;
}

.user__location {
    grid-area: location;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user__text {
    @extend .font-text;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-content: center;
}

.user__btnFollow {
    @extend .button;
}