@import '../../default_variables.scss';

.status__show {
    @extend .link;
    padding: 5px;
    display: flex;
    align-items: center;

    &:hover {
        opacity: .7;
    }
}

.status__text {
    @extend .font-text;
    max-width: calc(100% - 40px);
    cursor: pointer;
}

.status__pen {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-image: url(../../../images/pen.png);
    background-size: 20px;
}

.status__edit {
    @extend .font-text;

    &:focus {
        border: 1px solid rgba(70, 70, 70, 0.533);
        padding: 2px;
        min-width: 100%;
        min-height: 50px;
    }
}