@import '../../../default_variables.scss';

.edit {
    @extend .container;
}

.contact__item {
    margin: 3px 0;
    display: grid;
    grid-template-columns: 100px minmax(200px, 80%);
}

.edit__item {
    margin: 15px 0;
    display: grid;
    grid-template-columns: minmax(100px, 20%) minmax(200px, 70%);
    position: relative;
}

.input__error {
    color: #df1414;
    font-size: 12px;
    position: absolute;
    left: 420px;
    bottom: -12px;
}

.edit__contacts {
    margin-left: 5%;

}

.edit__item_form {
    @extend .searhForm;
    @extend .searchInput;
    padding: 5px 15px;
}

.edit__saveBtn {
    @extend .searchBtn;
    border-radius: 20px;
}