@import "../default_variables.scss";

.header {
    grid-area: head;
    background-color: $color-bg-header;
    display: flex;
    align-self: center;
    justify-content: space-between;

    &__logo {
        height: 40px;
    }
}

.login__block {
    margin: 10px;
}

.login__text {
    color: #000;
    text-decoration: none;

    &:hover {
        font-weight: bold;
    }
}