@import "../default_variables.scss";

.nav {
    grid-area: nav;
    padding: 20px;
}

.nav__menu {
    display: flex;
    flex-direction: column;
}

.navlink {
    color: rgb(0, 19, 9);
    text-decoration: none;
}

.active {
    color: $color-text-active;
}