.app__wrapper {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
  grid-template-areas:
    'head head'
    'nav main';
}

.app__wrapper_content {
  grid-area: main;
}