@import "./default_variables.scss";

.app {
  width: 100%;
  min-height: 100vh;
  background-color: $color-bg;
}

.app__wrapper {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
  grid-template-areas:
    'nav main';
}

.app__wrapper_content {
  grid-area: main;
}

.loading {
  position: absolute;
  top: 30%;
  right: 45%;
  width: 10%;
  height: 15vh;
  opacity: .5;
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}